@import url("reset.css");

html, body {
    /* 設定body高度為100% 拉到視窗可視的大小, 所謂 100% 是相對於瀏覽器 */
    height: 100%;
}
body {
    background-color: #D3D3D3;
    font-family: arial,"微軟正黑體";
}

/* ===== 容器區 ====== */

.wrapper {
    /* box-sizing: border-box; */
    /* 設定高度最小為100%, 如果內容區塊很多, 可以長大 */
    width: 960px;
    min-height: 100%;  
    /* 先上下後左右 = 置中的縮寫 */
    margin : 0 auto;
    /* 底色 */
    background-color: #FFFFFF;
}

/* ===== 頁首區 ====== */

#header {
    box-sizing: border-box; 
    /* 設定 header 的寬度 & 高度 */
    width: 960px;
    height: 120px;
    /* 設定位置 */
    position : fixed;
    top : 0;
     /* 底色 */
    background-color: #FF0000;
    background-image: url(../banner.jpg);
}

#header H1 {
    /* 可省略,已設定於 reset.css */
    display: block;
    /* 隱藏文字,往視窗外移動 */
    text-indent: -9999px;
}

/* ===== 主選單 ====== */

#nav {
    box-sizing: border-box; 
    /* 設定 nav 的寬度 & 高度 */
    width: 960px;
    height: 40px;
    /* 設定位置 */
    position : fixed;
    top : 120px;
    /* 底色 */
    background-color: #00FF00;
}

#nav ul { }

#nav ul li {
    /* 水平排列, 寫在 li */
    float: left;
}

#nav ul li a {
    /* 超連結: 不能省略 */
    display: block;
    /* 五個平均分配寬度 */
    width: 192px;
    height: 40px;
    /* 文字高度置中 */
    line-height: 50px;
    background-color: #000;
    color: #FFF;
    font-size: 15px;
    letter-spacing: 2px;  
    /* 文字水平置中 */
    text-align: center;
    text-decoration: none;
}

#nav ul li a:hover {
    background-color: #993366;
}

#nav ul li a.selected {
   background-color: #ff0000;
}

/* ===== 內容區 ====== */

/*   clear : both;      解除浮動 */
#content {
    /* box-sizing: border-box; */
    /* 設定 content 的寬度 */
    width: 960px;
    /* 設定位置 */
    /* position : fixed; */
    /* top : 120px; */
    /* 留出 header, nav 及 footer 區塊的上下間隔空間 */
    margin-top : 160px;
    margin-bottom : 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* 顏色同 wrapper, 就看不出來了 */
    background-color: #FFFFFF;
}  

#content p {
    /* 文字段落縮排 */
    text-indent: 50px;
    font-size: 15px;
    line-height: 1.7;
    /* 左右各留 30px, 編排上視覺比較舒服 */
    padding: 0 30px;
    /* 不同段落之間做區隔 */
    padding-bottom: 15px;
}

/* ===== 頁尾區 ====== */

#footer {
    box-sizing: border-box; 
    /* 設定 footer 的寬度 & 高度 */
    width: 960px;
    height: 40px;
    /* 設定 footer 絕對位置在底部 */
    position: fixed; 
    bottom: 0;         
    /* 底色 */
    background-color: #000;
}

#footer H2 {
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

#mask {
    box-sizing: border-box; 
    display : none;
    /* 設定 footer 的寬度 & 高度 */
    width: 100%;
    height: 100%;
    /* 設定 footer 絕對位置在底部 */
    position: fixed; 
    top : 0;
    bottom: 0;
    left : 0;
    right : 0;
    z-index : 9;
    /* 背景 */
    background-color: #707070;
    opacity: 0.5;   
}
#pophead {
    width : 500px;
    height : 30px;
}
#popfoot {
    width : 500px;
    height : 30px;
    position: absolute; 
    bottom: 0;   
}
