@import url("reset.css");

html, body {
    /* 設定body高度為100% 拉到視窗可視的大小 */
    height: 100%;
}
body {
    background-color: #000000;
    font-family: arial,"微軟正黑體";
}

#wrapper {
    background-color: #FFFFFF;
    /* 設定高度最小為100%, 如果內容區塊很多, 可以長大 */
    width: 960px;
    margin : 0 auto;
    /* 位置設為 relative, 作為footer區塊位置的參考 */
    min-height: 100%;    /* 置底必須 */
    position: relative;  /* 置底必須 */
}

#header {
    background-color: #00FF00;
    /* 設定 header 的寬度 & 高度 */
    width: 100%;
    height: 120px;
    box-sizing: border-box;
}

#nav {
    background-color: #0000FF;
    /* 設定 nav 的寬度 & 高度 */
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}

#content {
    background-color: #FFFF00;
    /* 設定 content 的寬度 */
    width: 100%;
    /* 留出header及footer區塊的空間 */
    padding-top: 40px;
    padding-bottom: 40px;
}

#footer {
    background-color: #00FFFF;
    /* 設定 footer 的寬度 & 高度 */
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    /* 設定 footer 絕對位置在底部 */
    position: absolute; /* 置底必須 */
    bottom: 0;          /* 置底必須 */
}
