@import url("reset.css");

body {
  background-color : #999;
  font-family : arial,"微軟正黑體";
}

/* ===== 頁首區 ====== */

#HEADER {
  width : 960px;
  margin : 0 auto;  /* 先上下後左右 = 置中的縮寫 */
}
#HEADER H1 {
  display : block; /* 可省略,已設定於 reset.css */ 
  width : 960px;
  height : 120px;
  background-image : url(../banner.jpg);
  text-indent : -9999px;  /* 隱藏文字,往視窗外移動 */
}

/* ===== 主選單 ====== */

#NAV {
  width : 960px;
  margin : 0 auto; 
  overflow : hidden; /* 避免此區高度受到 float 浮動的影響, hidden 如果用白話一點的解釋，就是將多出來的地方藏起來。 */
}
#NAV ul {
}
#NAV ul li {
  float : left; /* 水平排列, 寫在 li */
}
#NAV ul li a {
  display : block;      /* 超連結: 不能省略 */
  width : 192px;        /* 五個平均分配 */
  height : 40px;
  line-height : 50px;   /* 文字高度置中 */
  background-color : #000;
  font-size : 15px;
  color : #FFF;
  letter-spacing : 2px;
  text-align : center;  /* 文字水平置中 */
  text-decoration : none;
}
#NAV ul li a:hover {
  background-color : #993366;
}

/* ===== 內容區 ====== */

#CONTENT {
  clear : both;             /* 解除浮動 */
  width : 960px;            /* 不必預設高度, 預設即可 */
  margin : 0 auto; 
  background-color : #fff;
  padding-top : 30px;       /* 內容與上方間隔 */
  padding-bottom : 30px;    /* 內容與下方間隔 */
}
#CONTENT p {
  text-indent : 50px;       /* 文字段落縮排 */
  font-size : 15px;
  line-height : 1.7;
  padding : 0 30px;         /* 左右各留 30px, 編排上視覺比較舒服 */
  padding-bottom : 15px;    /* 不同段落之間做區隔 */
}

/* ===== 頁尾區 ====== */

#FOOTER {
  width : 960px;            /* 不必預設高度, 預設即可 */
  margin : 0 auto; 
  background-color : #000;
}
#FOOTER H2 {
  font-size : 15px;
  text-align : center;
  line-height : 50px;
  color : #fff;
}
